//colors
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 93.75%;
  @media (max-width: 720px) {
    font-size: 60%;
  }
}
body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: $VeryLightGray;
  // position: relative;
  // min-width: 1440px;
}
.heading {
  padding: 0.5rem 0;
  text-align: center;

  &-primary {
    font-weight: 200;
    color: $VeryDarkBlue;
  }
  &-secondary {
    font-weight: 600;
    padding-bottom: 0.7rem;
    color: $VeryDarkBlue;
  }
  &-para {
    color: $GrayishBlue;
    width: 37%;
    @media (max-width: 720px) {
      width: 100%;
      
    }
    margin: 0 auto;
  }
}
.cardHolder {
  position: relative;
  height: 65vh;
  width: 100%;
  padding-bottom: 2rem;
}
.card {
  background-color: #ffff;
  border-radius: 5px;
  width: 23%;
  height: 45%;
  @media (max-width: 720px) {
    width: 100%;
    display: inline-block;
    &:last-child{
      margin-bottom: 1.5rem;
    }
  }
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.27);
  padding: 1.3rem;
  position: relative;
  display: inline-block;

  margin-top: 2rem;

  &__cyan {
    border-top: 3.5px solid $Cyan;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(0%, -50%);
    @media (max-width: 720px) {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
    }
  }
  &__red {
    border-top: 3.5px solid $Red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    @media (max-width: 720px) {
      position: relative;
      display: block;
      transform: none;
      left: 0%;
    }
  }
  &__orange {
    border-top: 3.5px solid $Orange;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 0%);
    @media (max-width: 720px) {
      position: relative;
      display: block;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
    }
  }
  &__blue {
    border-top: 3.5px solid $Blue;
    position: absolute;
    top: 50%;
    right: 14%;
    transform: translate(0%, -50%);
    @media (max-width: 720px) {
      position: relative;
      transform: none;
      top: 0%;
      right: 0%;
    }
  }
  &__para {
    color: $GrayishBlue;
    position: relative;
    &--small {
      font-size: 0.9rem;
    }
  }
  &__image {
    position: absolute;
    right: 1.3rem;
    bottom: 1.3rem;
    width: 3rem;
    height: auto;
  }
}
