*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 93.75%; }
  @media (max-width: 720px) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: #fafafa; }

.heading {
  padding: 0.5rem 0;
  text-align: center; }
  .heading-primary {
    font-weight: 200;
    color: #4c4e61; }
  .heading-secondary {
    font-weight: 600;
    padding-bottom: 0.7rem;
    color: #4c4e61; }
  .heading-para {
    color: #a3a5ae;
    width: 37%;
    margin: 0 auto; }
    @media (max-width: 720px) {
      .heading-para {
        width: 100%; } }

.cardHolder {
  position: relative;
  height: 65vh;
  width: 100%;
  padding-bottom: 2rem; }

.card {
  background-color: #ffff;
  border-radius: 5px;
  width: 23%;
  height: 45%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.27);
  padding: 1.3rem;
  position: relative;
  display: inline-block;
  margin-top: 2rem; }
  @media (max-width: 720px) {
    .card {
      width: 100%;
      display: inline-block; }
      .card:last-child {
        margin-bottom: 1.5rem; } }
  .card__cyan {
    border-top: 3.5px solid #45d3d3;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(0%, -50%); }
    @media (max-width: 720px) {
      .card__cyan {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        transform: translate(0%, 0%); } }
  .card__red {
    border-top: 3.5px solid #ea5353;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%); }
    @media (max-width: 720px) {
      .card__red {
        position: relative;
        display: block;
        transform: none;
        left: 0%; } }
  .card__orange {
    border-top: 3.5px solid #fcaf4a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%); }
    @media (max-width: 720px) {
      .card__orange {
        position: relative;
        display: block;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%); } }
  .card__blue {
    border-top: 3.5px solid #549ef2;
    position: absolute;
    top: 50%;
    right: 14%;
    transform: translate(0%, -50%); }
    @media (max-width: 720px) {
      .card__blue {
        position: relative;
        transform: none;
        top: 0%;
        right: 0%; } }
  .card__para {
    color: #a3a5ae;
    position: relative; }
    .card__para--small {
      font-size: 0.9rem; }
  .card__image {
    position: absolute;
    right: 1.3rem;
    bottom: 1.3rem;
    width: 3rem;
    height: auto; }
